@media (max-width: 600px) {
  button {
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
  }
}
@import './base.css';
@import 'tailwindcss';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

@media (max-width: 600px) {
  #app {
    min-height: 100svh;
    height: 100svh;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto;
  }
}

 a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

 
